<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lars coola hemsida</title>
</head>
<body style="background-color: lightblue;">
    <h1>Lars sida</h1>
    <p> Detta är en paragraf om livets mening</p>
    <button>Jag är en knapp</button>
    <br>
    <br>
    <br>
    <h1>Det som finns på web servern</h1>
    <p>(klipp & klistra)</p>
    <br>
    <br> &nbsp;&nbsp;&nbsp; * den här sidan
    <br><font font-family="Arial"><b> http://127.0.0.1:5000/ </font></b>
    <br>
    <br> &nbsp;&nbsp;&nbsp; * Presentation
    <br><font font-family="Arial"><b> http://127.0.0.1:5000/about </font></b>
    <br>
    <br> &nbsp;&nbsp;&nbsp; * Kopplat foto
    <br><font font-family="Arial"><b> http://127.0.0.1:5000/mitt_foto </font></b>
</body>
</html>


